[tool.poetry]
name = "langkit"
version = "0.0.1.dev1"
description = "A collection of text metric udfs for whylogs profiling and monitoring in WhyLabs"
authors = ["WhyLabs.ai <support@whylabs.ai>"]
license = "Apache-2.0"
readme = "README.md"


[tool.poetry.dependencies]
python = "^3.8"
whylogs = {version = "^1.1.40"}
textstat = "^0.7.3"
sentence-transformers = "^2.2.2"
torch = {version="^2.0.1", url = "https://download.pytorch.org/whl/cpu"}
nltk = "^3.8.1"
openai = "^0.27.6"
pandas = "*"
datasets = "^2.12.0"


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.23.0"
pytest = "^7.3.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
