[tool.poetry]
name = "langkit"
version = "0.0.1b4"
description = "A collection of text metric udfs for whylogs profiling and monitoring in WhyLabs"
authors = ["WhyLabs.ai <langkit@whylabs.ai>"]
license = "Apache-2.0"
readme = "README.md"


[tool.poetry.dependencies]
python = "^3.8"
whylogs = {version = "1.1.43.dev0"}
textstat = "^0.7.3"
sentence-transformers = "^2.2.2"
nltk = "^3.8.1"
pandas = "*"
datasets = "*"

# optional dependencies
torch = {version = "*", optional = true}
openai = {version = "^0.27.6", optional = true}


[tool.poetry.group.dev.dependencies]
ipykernel = "^6.23.0"
pytest = "^7.3.1"


[tool.poetry.extras]
all = [
    "torch",
    "openai"
]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
